# Gradle
.gradle/
build/
**/build/

# Gradle Wrapper
!gradle/wrapper/gradle-wrapper.jar
!gradle/wrapper/gradle-wrapper.properties

# IntelliJ IDEA / Android Studio
.idea/
*.iml
*.iws
out/

# OS-specific
.DS_Store
Thumbs.db

# Logs
*.log

# Temporary files
*.tmp
*.swp
